<ion-view view-title="Survival">
    <ion-content>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9" survival-curves survivaldata="survivalData"
                 stagecolumns="stageColumns">
            </div>
            <div id="legend-div" class="col-lg-3 col-md-3 col-sm-3">
                <!--
                <div id="legend-wrapper" style="height: 45%; width: 100%;">
                    <svg height="100%" width="100%">
                        <rect width="100%" height="100%" id="legend-rect"
                              style="stroke-width: 2; stroke: black; fill: #E7E7E7; opacity: 1">
                        </rect>
                    </svg>
                </div>
                -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9" survival-table kaplanmeierdata="kaplanMeierData">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
            </div>
        </div>
    </ion-content>
</ion-view>
